---
layout: default
---
{% for cat in site.categories%}
<div class="category">
  <div class="title">
    <a href="{{cat[0] | prepend:site.base-url}}"> {{ cat[0] }}</a>
  </div>
  <ol class="articles">
    {% for post in cat[1] limit:3 %}
    <li class="article">
      <div class="image">
        <a href="{{ post.url }}">
          {% if post.featured-image %}
          <img class="img-responsive" src="{{ post.featured-image }}"/>
          {% else %}
          <img class="img-responsive" src="{{ '/img/default.png' | prepend:site.base-url}}"/>
          {% endif %}
        </a>
      </div>
      <div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div>
      <div class="summary"><a href="{{ post.url }}">{%if post.summary %}
        {{ post.summary | strip_html |strip_newlines |truncatewords:20 | truncate:100 }}
        {% else %}
        {{ post.excerpt | strip_html | strip_newlines | truncate:90 }}
        {% endif %}</a></div>
    </li> <!-- end: article -->
    {% endfor %}
    <!-- more articles -->
  </ol> <!-- end: articles -->
</div> <!-- end: category -->
{% endfor %}