<header class="site-header">
  <div class="site-nav">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ol class="nav navbar-nav">
          <!-- top-level pages as defined in _data/top_menu.yml -->
          {% for spage in site.data.top_menu %}
          {% if spage.title %}
          {% capture clazz %} {% if page.url == spage.url %} active {% else %}inactive {% endif %} {% endcapture %}
          <li class="{{clazz}}"><a class="{{clazz}}" href="{{ spage.url | prepend:site.baseurl }}">{{spage.title }}</a></li>
          {% endif %}
          {% endfor %}
          <!-- end: top-level pages -->
        </ol>
        <div class="search navbar-form navbar-right">{% include google_cs.html %}</div>
        <div class="social navbar-right">{% include social_icons.html %}</div>
      </div>
    </nav>
  </div>
  <div class="branding"><h1 class="title">Dr. Julie Wei</h1></div>
  <div class="content-nav">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#djw-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="djw-navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- post tag -->
            {% for tag in site.tags %}
            <li><a href="{{site.baseurl}}{{site.tag_baseurl}}{{tag[0]}}">{{tag[0] | capitalize }}</a></li>
            {% endfor %}
            <!-- end: post tag-->
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
