<p>-------</p>
<p>
  Dr. Julie Wei is a pediatric ear, nose, and throat specialist and the
  author of <a href="http://ahealthierwei.com" target="_blank">A Healthier Wei</a>.
  As a mother herself,  Dr. Wei is a  passionate advocate for improving children's
  health through better diet and dietary
  habits. She has been committed to helping parents learn how to eliminate their
  child's ear, nose, and throat problems simply by reducing excessive sugar and
  dairy intake, as well as minimizing habitual late night snacking. She hopes to
  raise awareness for the need for accountability by both medical professionals
  and parents to ensure that children are not prescribed or take unnecessary
  medications long term.
</p>
<p>
  When she is not in the clinic, operating room, or conducting research, you
  will find her in the kitchen preparing food with love along with her daughter
  Claire. If you sit next to her on the plane, she will likely share with you
  information about how to minimize choking hazards in young children, and many
  other tips for improving your child's health.
</p>