---
layout: default
---
<h3>Posts relating to &quot;{{ page.title }}&quot;</h3>

{% unless page.content == '' %}
<p>{{ page.content }}</p>
{% endunless %}

<div class="container category-list">
  {% for post in site.tags.[page.tag] %}
  <div class="row category-post">
    <a href="{{post.url}}">
      <div class="col-md-2 image">
        {% if post.featured-image %}
        <img class="img-responsive" src="{{ post.featured-image }}"/>
        {% else %}
        <img class="img-responsive" src="{{ '/img/default.png' | prepend: site.base-url}}"/>
        {% endif %}
      </div>
      <div class="col-md-10 text-container">
        <div class="title">{{post.title}}</div>
        <div class="summary">
          {%if post.summary %}
          {{ post.summary | strip_html |strip_newlines |truncatewords:80 | truncate:400 }}
          {% else %}
          {{ post.excerpt | strip_html | strip_newlines | truncate:360 }}
          {% endif %}
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
